body {
  box-sizing: border-box;
}

.swiper-wrapper img {
  width: 100%;
  height: 8rem;
}

.home-header {
  /*height: 2.1rem;*/
  background: #fff;
  z-index: 11111;
  width: 100%;
  padding: .4rem .5rem;
  box-sizing: border-box;
}

.list, .back {
  /*float: left;*/
  display: inline-block;
  /*vertical-align: middle;*/
  width: 1rem;
}

.site-title {
  display: inline-block;
  font-size: 1rem;
  /*vertical-align: middle;*/
  width: 80%;
  text-align: center;
}

.search {
  /*float: right;*/
  display: inline-block;
  /*vertical-align: middle;*/
  width: 1rem;
}

#slide-menu {
  display: none;
  overflow: hidden;
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /*z-index: 9999999;*/
  background: #40444b;
  color: #8991a0;
  padding: 1rem;
}

#slide-menu h3 {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

#page {
  background: #fff;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transition: -webkit-transform .4s;
  -moz-transition: -moz-transform .4s;
  transition: transform .4s;
}

body.menu-active #page {
  overflow: hidden;
  -webkit-transform: translateX(70%);
  -moz-transform: translateX(70%);
  -ms-transform: translateX(70%);
  transform: translateX(70%);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
}

#slide-menu ul {
  margin-top: 1.5rem;
  font-size: .7rem;
  line-height: 2rem;
  color: #fff;
}

#slide-menu ul li {
  padding: .2rem 0;
}

#slide-menu a {
  color: #fff;
}

.active a {
  color: red !important;
}

.picture-content {
  padding: .3rem .5rem;
  background: #fff;
}

.section-title {
  font-size: .9rem;
  color: #A0A0A0;
  float: left;
  padding: .3rem 0;
}

.section-info {
  padding: 0 .2rem;
}

.see-more {
  float: right;
  padding: 0;
  height: 1rem;
  width: 3rem;
  background: transparent;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: .5rem;
  color: #555;
  line-height: 1rem;
  margin: .3rem 0;
}

.section-picture-list ul {
  font-size: 0;
}

.section-picture-list ul li {
  display: inline-block;
  width: 50%;
  /* height: 5rem; */
  padding: 0 .2rem;
  box-sizing: border-box;
}

.section-picture-list ul li p {
  font-size: .55rem;
  margin: .5rem 0;
}

.section-picture-list ul li img {
  width: 100%;
  height: 5rem;
}

#wrapper {
  background: #F1F1F1;
}

.hot-item {
  margin-top: .5rem;
  font-size: 0;
}

.hot-left, .hot-right {
  display: inline-block;
  width: 50%;
  padding: 0 .2rem;
  box-sizing: border-box;
}

.hot-right {
  vertical-align: top;
}

.letf-item, .right-item {
  margin-bottom: .8rem;
}

.letf-item img {
  width: 100%;
}

.right-item img {
  width: 100%;
  height: 10rem;
}

.hot-picture {
  margin-top: .5rem;
  padding: .3rem .5rem;
  background: #fff;
}

.letf-item span, .right-item span {
  color: #000;
  display: block;
  width: 100%;
  font-size: .55rem;
  margin-top: 1px;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px 0 0;
}

#triangle {
  width: 100%;
  position: relative;
  top: -50px;
  margin-bottom: -25px;
}

#c {
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  margin: 0;
  color: #fff;
  font-size: 0;
  height: 6rem;
}

.footer img {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
}

.footer h1 {
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

.main-container {
  margin-top: .5rem;
}

.main-container section {
  background: #fff;
  margin-bottom: .5rem;
}

.more-ul li p {
  margin-left: .5rem;
  font-size: .8rem;
  line-height: 2rem;
}

.more-ul li {
  padding: .5rem 0;
  background: #fff;
  margin-bottom: .5rem;
}

.more-ul {
  margin-top: .5rem;
}

.more-ul li img {
  width: 100%;
  height: 10rem;
}

.more-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.more-view {
  background: #F1F1F1;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 2.1rem;
  overflow: auto;
}

.blank {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 99999;
  display: none;
}
.view-window {
  font-size: 0;
}
